<div class="flex flex-col items-center">
  <div #wheel class="relative w-64 h-64 rounded-full border-4 border-gray-400 overflow-hidden">
    <ng-container *ngFor="let sector of sectors; let i = index">
      <div
        class="absolute w-1/2 h-1/2 origin-bottom-left bg-blue-400/20 flex justify-center items-end text-white font-bold"
        [ngStyle]="{
          transform: 'rotate(' + i * 36 + 'deg) translate(0, -50%)',
        }"
      >
        {{ sector }}
      </div>
    </ng-container>
  </div>

  <div class="mt-6 flex flex-col items-center space-y-3">
    <input
      type="number"
      [(ngModel)]="sectorInput"
      placeholder="Enter sector (1-10)"
      class="p-2 border rounded w-40"
    />
    <button nz-button nzType="primary" (click)="spinWheel()" class="w-40">Spin</button>
    <p class="text-red-500 font-semibold">{{ errorMessage }}</p>
  </div>
</div>
