<nz-layout class="min-h-screen">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    class="bg-[#151a22] text-white min-h-screen"
  >
    <div
      class="logo text-center py-4 text-lg font-semibold hover:cursor-pointer"
      routerLink="/users"
    >
      MyApp
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="text-white">
      <li nz-menu-item routerLink="/users" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="user" class="text-white!"></span>
        <span>Users</span>
      </li>
      <li nz-menu-item routerLink="/posts" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="file-text" class="text-white!"></span>
        <span>Posts</span>
      </li>
      <li nz-menu-item routerLink="/promotions" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="gift" class="text-white!"></span>

        <span>Promotions</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="flex flex-col min-h-screen">
    <nz-header class="bg-blue-600 p-0!">
      <app-header></app-header>
    </nz-header>

    <nz-content class="flex-1 overflow-y-auto p-6 bg-gray-50">
      <router-outlet></router-outlet>
    </nz-content>

    <nz-footer class="text-center bg-gray-100 py-4"> © {{ currentYear }} — croco-app </nz-footer>
  </nz-layout>
</nz-layout>
