<nz-layout class="min-h-screen">
  <!-- Sidebar -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" class="bg-[#151a22] text-white">
    <div class="logo text-center py-4 text-lg font-semibold">MyApp</div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="text-white">
      <li nz-menu-item routerLink="/users" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="user" class="text-white!"></span>
        <span>Users</span>
      </li>
      <li nz-menu-item routerLink="/posts" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="file-text" class="text-white!"></span>
        <span>Posts</span>
      </li>
    </ul>
  </nz-sider>

  <!-- Main content -->
  <nz-layout class="flex flex-col min-h-screen">
    <!-- Header -->
    <nz-header class="bg-blue-600 p-0!">
      <app-header></app-header>
    </nz-header>

    <!-- Content -->
    <nz-content class="flex-1 overflow-y-auto p-6 bg-gray-50">
      <router-outlet></router-outlet>
    </nz-content>

    <!-- Footer -->
    <nz-footer class="text-center bg-gray-100 py-4"> © {{ currentYear }} — croco-app </nz-footer>
  </nz-layout>
</nz-layout>
